* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --anim-speed: 2000ms;
    --bar-height: 18px;
    --bg: #f5f5f5;
    --bg-form: #fff;
    --color-text: black;
    --bg-bar-color: hsl(0, 0%, 90%);

    --bar-margin-top: 5px;
    --bar-title-margin-right: 12px;
}

.light {
    --bg: #f5f5f5;
    --bg-form: #fff;
    --color-text: black;
    --bg-bar-color: hsl(0, 0%, 90%);
}

.dark { 
    --bg: #1e1f22;
    --bg-form: #313338;
    --color-text: white;
    --bg-bar-color: #313338;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    transition: 400ms;
}

#container {
    margin-top: 1vh;
    padding: 1em;
}


#pollArea {
    text-align: center;
    background-color: var(--bg-form);
    border-radius: 5px;
    padding: 3.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--color-text);
    padding-bottom: 1rem;
    margin: 5%;
    margin-bottom: 10rem;
    transition: 400ms;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-text);
    margin: 6vh;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 4rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: var(--color-text);
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input[type="radio"] {
    display: none;
}

label {
    margin: 0.75rem 1rem;
    padding: 0.8rem 2rem;
    background-color: var(--bg);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 300ms;
}

input[type="radio"]:checked + label {
    background-color: #0d8bf0;
    color: white;
}

label:hover {
    background-color: #2196F3;
    color: white;
}

button {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    background-color: #2196F3;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #0d8bf0;
}


#progress-bars-container {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 4rem;
    margin-top: 8vh;
}

.bar-container {
    margin-top: 50px;
}

.text-container {
    display: flex;
    flex-direction: row;
    color: var(--color-text);
}

.bar-title {
    margin-right: var(--bar-title-margin-right);
    font-weight: bold;
}

.percent-holder {
    flex-grow: 1;
}

.percent {
    position: relative;
    left: 0;
    animation: offset var(--anim-speed) ease-in-out;
    font-weight: bold;
}

.bar-fill {
    width: 100%;
    height: var(--bar-height);
    margin-top: var(--bar-margin-top);
}

.bar-bg {
    width: 100%;
    height: 100%;
    background-color: var(--bg-bar-color);
    border-radius: calc(var(--bar-height) / 2);
}

.bar-color {
    width: 0;
    height: 100%;
    border-radius: calc(var(--bar-height) / 2);
    animation: stretch var(--anim-speed) ease-in-out;
}

@keyframes stretch {
    from {
        width: 0;
    }
}

@keyframes offset {
    from {
        left: 0px;
    }
}

.themeToggle-wrapper {
    position: absolute;
    right: 20px;
    top: 20px;
}

.theme-toggle {
    width: 40px;
    height: 40px;
    background: var(--bg-form);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
    display: none;
}

.light #sun {
    display: block;
    position: relative;
    left: -4px;
}

.dark #moon {
    display: block;
    position: relative;
    left: -2px;
}

.sun-path {
    fill: black;
}

.moon-path {
    fill: white;
}

.github-logo-path {
    fill: var(--color-text)
}

.top-left-link {
    position: absolute;
    left: 20px;
    top: 20px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #313338;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.wrap {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
}

.iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.back-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    margin: 8px;
    background-color: #333539;
    color: var(--bg);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scaleX(-1);
    transition: background-color 0.3s ease;
}
